 <div class="footer">
    <div class="contact">
      <p>
        SplitLevel Texts<br />
        info@splitleveltexts.com
      </p>
    </div>
    <div class="contact">
      <p>
		<a href="#" title="">Link</a><br />
		<a href="#" title="">Link</a><br />
		<a href="#" title="">Link</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/splitleveltexts">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div><!-- /.footer -->
</div> <!-- /.container -->


<!-- Google Analytics -->



<!-- Google Analytics end -->

 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.6.3.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>

  </body>
</html>