---
layout: default
title: Blog
blog: active
---
	<div class="row blog">
		{% for post in site.posts limit:10 %}
		<div class="span8 posts">
		
			{% include listed-post.html %}
		
		</div> <!-- /.span8 .posts -->
		{% endfor %}
		
		<div class="span4 sidebar">
			<ul class="listposts">
    				{% for post in site.posts %}
      				<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    				{% endfor %}
  			</ul>
		</div><!--/.span4 .sidebar -->			
	</div> <!--./row .blog -->
